{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Weight station</span> <span class="smaller">summary</span></h1>
  <p class="lead"><span class="font-normal">{{station}}</span>::We have seen {{lorries}} lorries with {{tons}} tons of cargo.</p>
</div>
{% endblock content %}
